nav {
    height: 70px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}

nav > a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    
}

nav > a::after {
    content: ' ';
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--primary);
    border-radius: 3px;
    transition: width 200ms;
    
}

nav > a:hover::after {
    width: 0px;
}