  header,
  section,
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
  }

  section,
  header {
    height: 100svh;
  }
  header {
    position: relative;
    
  }
  h1 {
    text-shadow: 0px 0px 20px black,0px 0px 20px black,0px 0px 20px black;
  }
  header > p {
    text-shadow: 0px 0px 20px black,0px 0px 10px black;
  }

  footer {
    height: 80px;
    background-color: var(--background);
    color: var(--primary);
  }
  section > p {
    text-align: justify;
    width:50%;
    font-size: 20px;
  }


.background {
  height: 100%;
  width: 100%;
  position: absolute;
  
  z-index: -1;
  overflow: hidden;
  filter: brightness(.9);
  opacity: .5;

}




.grade {

  position: absolute;
  width: 20em;
  height: 20em;
  border: 3px solid var(--primary);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  background-color: var(--background);
  
}

.grade::before {
  content: "";
  position: absolute;
  
  inset: 0;
  height: 100%;
  width: 100%;
  background: var(--background);
  opacity: var(--overlay-opacity);
  mix-blend-mode: lighten;
  pointer-events: none;
  z-index: 10;
}

.grade > .short-name {
  font-weight: 900;
  font-size: 36px;

}
.grade > .long-name {
  margin: 0;
  text-align: center;
  padding: 0 20px;
  color: var(--secondary);
}

.grade > .value {
  font-size: 64px;
  font-weight: 700;
  padding-bottom: 20px;
}

@media (max-width: 600px) { 
  .grade {
    font-size: 10px;
  }

}

h1,h2 {
  text-decoration: underline var(--primary) 3px;
  
}