<main>
  <h2>{{ this.authService.getUsername() }}</h2>

  <h3>eAsistent login info:</h3>
  <p id="info">
    If you want to track your grades you need to add your login info. If you have already added an
    login adding a new one will replace it.
  </p>

  <form>
    <label for="">Username</label>

    <input type="text" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" />

    <label for="">Password</label>

    <input type="text" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" />
    <br />
    <button (click)="addLoginInfo($event)">Add eAsistent Login</button>
  </form>

  @if (this.authService.getUsername() == "admin") {
  <br />
  <br />
  <br />
  <h3>Invite codes</h3>
  <button (click)="generateInviteCode()">Generate new Invite code</button>
  <br />
  <div class="inviteCodes">
    @for (code of inviteCodes(); track $index) {

    <div class="inviteCode">
      <span>{{ code }}</span
      ><button class="delete" (click)="removeInviteCode(code)">x</button>
    </div>
    }@empty {
    <p>No invite codes</p>
    }
  </div>

  }
  <br />
  @if (authService.getUsername() != "admin") {
  <button class="deleteAccount" (click)="deleteAccount()">Delete Account</button>
  }
</main>

@if (confirmAccountDeletion()) {

<div class="modalBackground">
  <div class="container">
    <h2>Delete account</h2>
    <p>
      Are you sure you want to delete your account.<br />
      All your data will be lost!
    </p>
    <br />
    <div class="controls">
      <button (click)="confirmAccountDeletion.set(false)">Cancel</button>
      <button (click)="actuallyDeleteAccount()" class="deleteAccount">Delete Account</button>
    </div>
  </div>
</div>
}
