<main>
  <h2>Login</h2>
  <form (submit)="onSubmit($event)">
    <div>
      <label for="username">Username</label>
      <input id="username" type="text" [formField]="loginForm.username" />
      @if (loginForm.username().invalid() && loginForm.username().touched()) {
      <div class="error">
        @for (error of loginForm.username().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
      </div>
      }
    </div>
    <div>
      <label for="password">Password</label>
      <div class="passwordContainer">
        <input
          id="password"
          [type]="show ? 'text' : 'password'"
          type="password"
          [formField]="loginForm.password"
        /><button type="button" id="showPassword" (click)="togglePassword()">
          <img src="eye.svg" alt="o" />
        </button>
      </div>
      @if (loginForm.password().invalid() && loginForm.password().touched()) {
      <div class="error">
        @for (error of loginForm.password().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
      </div>
      }
    </div>
    <button>
      @if (loggingIn()) {
      <img id="refreshIndicator" src="refresh.svg" alt="Loading" />
      } @else { Log in }
    </button>
    @if (error().length > 0 ) {
    <p class="error" id="loginerror">{{ error() }}</p>
    }
    <p>If you don't have an account you can make one <a href="/register">here</a>.</p>
  </form>
</main>
