.grade {
    display: flex;
    width: 50em;
    max-width: 100svw;
    background-color: rgb(27, 137, 255);
    padding: 25px;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-radius: 8px;
    cursor: pointer;
}

.subj {
    font-weight: 800;
    font-size: 20px;
    min-width: 70px;

}

.values {
    display: flex;
    gap: 6px;
}

.avg {
    font-weight: 600;
}

.gradeValue {
    font-weight: 600;
    font-size: 18px;
}


@media (max-width: 1000px) {
    .grade {
        width: calc(100svw - 160px);
        margin: 0 20px;
    }
}

@media (max-width: 650px) {
    .grade {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px
    }
}