<main>
  <h2>Register</h2>
  <form (submit)="onSubmit($event)">
    <div>
      <label for="username">Username</label>
      <input id="username" type="text" [formField]="registerForm.username" />
      @if (registerForm.username().invalid() && registerForm.username().touched()) {
      <div class="error">
        @for (error of registerForm.username().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
      </div>
      }
    </div>
    <div>
      <label for="password">Password</label>
      <div class="passwordContainer">
        <input
          id="password"
          [type]="show ? 'text' : 'password'"
          type="password"
          [formField]="registerForm.password"
        /><button type="button" id="showPassword" tabindex="-1" (click)="togglePassword()">
          <img src="eye.svg" alt="o" />
        </button>
      </div>
      @if (registerForm.password().invalid() && registerForm.password().touched()) {
      <div class="error">
        @for (error of registerForm.password().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
      </div>
      }
    </div>
    <div>
      <label for="inviteCode">Invite code</label>
      <input id="inviteCode" type="text" [formField]="registerForm.inviteCode" />
      @if (registerForm.inviteCode().invalid() && registerForm.inviteCode().touched()) {
      <div class="error">
        @for (error of registerForm.inviteCode().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
      </div>
      }
    </div>
    <button>
      @if (loggingIn()) {
      <img id="refreshIndicator" src="refresh.svg" alt="Loading" />
      } @else { Register }
    </button>
    @if (error().length > 0 ) {
    <p class="error" id="loginerror">{{ error() }}</p>
    }
    <p>If you already have an account you can log in <a href="/login">here</a>.</p>
  </form>
</main>
