h2 {
    text-align: center;
}

.grade {
    
    height: 7em;
    min-width: 7em;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.value {
    text-align: center;
    font-weight: 800;
    display: block;
    font-size: 36px;
}
.shortName {
    display: block;
    text-align: center;
    font-weight: 700;
}

.horizontalGrades {
    margin: 0 50px;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    max-width: 100svw;
    scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
}



/* Chrome / Edge / Safari */
.horizontalGrades::-webkit-scrollbar {
  width: 6px; /* thin */
}

.horizontalGrades::-webkit-scrollbar-track {
  background: transparent;
}

.horizontalGrades::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* semi-opaque */
  border-radius: 10px;
}

.horizontalGrades::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


p {
    text-align: center;
}

span.strongValue {
    font-weight: 800;
    color: var(--primary);
}